@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --primary-color: #fff;
  --secondary-color: #f0f1f3;
  --accent-color: #3544cf;
  --neutral-color: #f2f3f3;
  --text-color: #000;
  --text-accent: #fff; */

  --primary-color: #fff;
  --neutral-color: #fcf6f6;
  --secondary-color: #4dfe4e;
  --accent-color: #01c802;
  --text-color: #001900;
  --text-accent: #e6ffe6;

  --dark-primary-color: #000d00;
  --dark-neutral-color: #0d160d;
  --dark-secondary-color: #01c802;
  --dark-accent-color: #01c802;
  --dark-text-color: #fff;
  --dark-text-accent: #fff;

  --brand-color: #01c802;
  --brand-color-100: #e6ffe6;
  --brand-color-200: #b3ffb3;
  --brand-color-300: #80fe81;
  --brand-color-400: #4dfe4e;
  --brand-color-500: #1bfe1c;
  --brand-color-600: #01e402;
  --brand-color-700: #01b202;
  --brand-color-800: #017f01;
  --brand-color-900: #004c01;

  /* f9d276 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Regular.ttf");
}

html {
  @apply h-screen;
}
body {
  @apply min-h-screen;
}

#root {
  @apply h-full min-h-screen flex flex-col text-black transition duration-100 delay-0 bg-[var(--primary-color)] dark:bg-[var(--dark-primary-color)] dark:text-white;
}

/* Hide scrollbar for WebKit browsers */
.horizontalFilter {
  scrollbar-width: none; /* For Firefox */
}

.horizontalFilter::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* Hide scrollbar for Firefox */
.horizontalFilter {
  scrollbar-width: none; /* Hide scrollbar */
}
