@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --primary-color: #fff;
  --secondary-color: #f0f1f3;
  --accent-color: #3544cf;
  --neutral-color: #f2f3f3;
  --text-color: #000;
  --text-accent: #fff; */

  --primary-color: #fff;
  --secondary-color: #faf7ec;
  --accent-color: #ff5f00;
  --neutral-color: #fdf9ea;
  --text-color: #000;
  --text-accent: #fff;

  --dark-primary-color: #14181c;
  --dark-secondary-color: #040d12;
  --dark-accent-color: #009d1a;
  --dark-text-color: #fff;
  --dark-text-accent: #fff;
  --dark-neutral-color: #1e2429;
  /* f9d276 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Regular.ttf");
}

html {
  @apply h-screen;
}
body {
  @apply min-h-screen;
}

#root {
  @apply h-full min-h-screen flex flex-col text-black transition duration-100 delay-0 bg-[var(--secondary-color)] dark:bg-[var(--dark-secondary-color)] dark:text-white;
}

/* Hide scrollbar for WebKit browsers */
.horizontalFilter {
  scrollbar-width: none; /* For Firefox */
}

.horizontalFilter::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* Hide scrollbar for Firefox */
.horizontalFilter {
  scrollbar-width: none; /* Hide scrollbar */
}
